@model CategoryViewModel

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <form method="post">
        <br />
        <input type="hidden" asp-for="CategoryID" />
        <label>Kategori Adı</label>
        <input type="text" class="form-control" asp-for="CategoryName" />
        <br />
        <label>Kategori Açıklaması</label>
        <input type="text" class="form-control" asp-for="Description" />
        <br />
       <button class="btn btn-outline-success">Güncelle</button>
    </form>
</div>